@import "bootstrap/bootstrap";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);

@btn-font-weight: 300;
@font-family-sans-serif: 'Source Sans Pro', sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}

h1 .h1-appendage {
  font-size: @font-size-small;
  font-style: italic;
}

.row.container-inlay-container {
  margin-bottom: 25px;
  margin-top: 25px;

  > .container-inlay {

    padding-bottom: 25px;
    padding-top: 25px;

    > :first-child {
      margin-top: 0;
    }

    &.inverse {
      color: @text-color-inverse;

      &::before {
        content: ' ';
        display: block;
        position: absolute;
        width: 200vw;
        left: -50vw;
        top: 0;
        bottom: 0;
        background-color: @brand-primary-inverse;
        z-index: -1;
      }
    }
  }
}

#footer {
  color: @navbar-default-color;
  margin-top: 20px;
  background-color: @navbar-default-bg;
  width: 100%;
}
